body {
    font-family: Franklin Gothic Medium;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#app {
    width: 1024px;
    margin: auto;
}

.menu-item {
    width: 250px;
    height: 50px;
    border: 1px solid gray;
    list-style-type: none;
    padding: 5px;
}

#graphSelect {
    margin-top: 10px;
}

#uploadButton {
    margin-top: 10px;
}

.hover {
    background: lightgray;
}

.selected {
    background: gold;
}
